/nvim/.config/nvim/lazy-lock.json
fish_variables
/niri/.config/niri/noctalia.kdl
/nvim/.config/nvim/lua/matugen.lua
/yazi/.config/yazi/flavors/noctalia.yazi/tmtheme.xml
/yazi/.config/yazi/flavors/noctalia.yazi/flavor.toml
*.DS_store*
/ghostty/.config/ghostty/themes/noctalia
